<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.Rosa.controller.CustLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpAdminController</servlet-name>
        <servlet-class>com.Rosa.controller.EmpAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterController</servlet-name>
        <servlet-class>com.Rosa.controller.CustomerRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>com.Rosa.controller.AddItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemController</servlet-name>
        <servlet-class>com.Rosa.controller.SearchItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>com.Rosa.controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>com.Rosa.controller.UpdateItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpAdminController</servlet-name>
        <url-pattern>/EmpAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterController</servlet-name>
        <url-pattern>/CustomerRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemController</servlet-name>
        <url-pattern>/SearchItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
